@font-face {
	font-family: 'BeelineSans-Regular'; 
	src: url(./assets/fonts/BeelineSans-Regular.woff); 
}

@font-face {
	font-family: 'CraftworkGrotesk-Regular'; 
	src: url(./assets/fonts/CraftworkGrotesk-Regular.woff); 
}

body {
  margin: 0;
  font-family: 'BeelineSans-Regular';
  place-items: center;
  min-width: 320px;
  overflow-y:scroll;
}

.header {
  position: fixed;
  z-index: 2;
  height: 64px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;

  background-color: #fff;
  border-bottom: rgba(0, 0, 0, 0.25) solid 2px;
}

.main {
  max-width: 1200px;
  min-height: calc(100vh - 128px);
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.main__content {
  display: flex;
  justify-content: center;
}

h3.sub-title {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 30px;
}

h4.sub-title {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h4.sub-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.widget:first-child {
  flex: 5;
}

.widget:last-child {
  flex: 3;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-slider .ant-slider-rail {
  background-color: rgba(0, 0, 0, 0.25);
}

.widget__calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px;
  
  border-radius: 10px;
  padding: 10px;
}

.error__container {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px;
  
  border-radius: 10px;
  padding: 10px;
}

.widget__form-order {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 10px;
  
  border-radius: 10px;
  padding: 10px;
  font-family: 'CraftworkGrotesk-Regular';
  font-size: 14px;
}

.widget__calculator__basicPackages {
  display: flex;
  flex-direction: column;
}

.basicPackages__group-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.widget__calculator__group-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.widget__calculator__group-item {
  display: flex;
  width: 46%;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px 10px;
  margin: 5px 0;
  box-shadow: 0 0 1px 0;
  border-radius: 10px;
}

.widget__calculator__group-item:only-child {
  width: 100%;
}

.widget__calculator__group:has(.widget__calculator__group-item:only-child) {
  width: 47%;
}

.widget__calculator__group-item p {
  text-align: center;
}

.widget__calculator__products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.products__button:hover {
  cursor: not-allowed;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

.widget__calculator__products,
.widget__calculator__group,
.widget__form-order__price-prewiew,
.widget__form-order__final-price,
.button-container {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fefefe;
  border-radius: 10px;
}

.group-item__controls-wrapper {
  height: 100%;
}

.group-item__controls {
  display: flex;
  align-items: center;
  height: 45px;
}

.group-item__controls span {
  margin-left: 10px;
}

.price__base-price,
.price__discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.price__discount__input-wrapper {
  display: flex;
  align-items: center;
}

.widget__calculator__basicPackages .group-item__price {
  width: fit-content;
  margin: auto;
}

.price__base-price .group-item__price__text:last-child {
  color: #1677ff
}

.price__discount .group-item__price__text:first-child {
  color: #A30000
}

.group-item__price__text,
.group-item__price__text {
  margin-right: 5px;
}

.group-item__price__tooltip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  color: #f5f5f5;
  background-color: #1677ff;
  cursor: pointer;
  transition: 400ms;
}

.group-item__price__tooltip:hover {
  transition: 400ms;
  background-color: #A30000;
}

.animation-node-enter {
  opacity: 0;
}
.animation-node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.animation-node-exit {
  opacity: 1;
}
.animation-node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.price-prewiew__text-container,
.widget__form-order__final-price {
  display: flex;
  justify-content: space-between;
  width: 390px;
  margin-bottom: 20px;
}

.text-container__quantity {
  flex: 3;
}

.text-container__name {
  flex: 9;
}

.text-container__price {
  flex: 4;
  text-align: right;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container > .button-wrapper {
  margin: 0 10px
}

.footer {
  position: fixed;
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 64px;
  color: #000;
  background-color: #fff;
  border-top: rgba(0, 0, 0, 0.25) solid 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (max-width: 576px) {
  .main__content {
    flex-direction: column;
  }
}